.headlineRoom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 16px;
  margin-top: 32px;
}

.nameArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.arrowBack {
  width: 32px;
}

.headlineTasksRoom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 24px;
}

.placeholderTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 33% auto;
}

.tasksContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
